h1 {
  padding-left: 10px;
}

.searchBarHook{
  display: flex;
}

.List {
  display: block;
  background-color: var(--background-list);
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 0.1px;
  padding-bottom: 0.1px;
  margin-bottom: 20px;
  overflow-wrap: break-word;
  box-shadow: var(--shadow-box);
}

.List:hover {
  background-color: var(--hover-list);
}

@media (min-width: 440px) {
  .searchBarHook{
    max-width: 550px;
    padding-left: 10px;
  }

  .listOfTheHooks {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 20px;
  }

  .listOfTheHooks a {
    display: block;
  }

  .List {
    flex: 550px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    max-width: 614px;
  }

  h2, p {
    margin-left: 10px;
  }
}
