<form class="hookform" [formGroup]="loginForm">

  <div class="document-type">
    <h2>Type(s) de document <br>(Obligatoire, min. 1)</h2>
    <div><p>Commande</p>
      <label class="switch">
        <input type="checkbox" formControlName="Purchase_order">
        <span class="slider round"></span>
      </label></div>

    <div><p>Demande d'achat</p>
    <label class="switch">
      <input type="checkbox" formControlName="Purchase_requisition">
      <span class="slider round"></span>
    </label></div>

    <div><p>Facture d'achat</p>
    <label class="switch">
      <input type="checkbox" formControlName="Payable_invoice">
      <span class="slider round"></span>
    </label></div>

    <div><p>Avoir d'achat</p>
    <label class="switch">
      <input type="checkbox" formControlName="Payable_credit_note">
      <span class="slider round"></span>
    </label></div>

    <div><p>Facture de vente</p>
    <label class="switch">
      <input type="checkbox" formControlName="Sales_invoice">
      <span class="slider round"></span>
    </label></div>

    <div><p>Avoir de vente</p>
    <label class="switch">
      <input type="checkbox" formControlName="Sales_credit_note">
      <span class="slider round"></span>
    </label></div>

    <div><p>Facture sur commande</p>
    <label class="switch">
      <input type="checkbox" formControlName="Payable_invoice_PO_based">
      <span class="slider round"></span>
      </label></div>

    <div><p>Autre document</p>
    <label class="switch">
      <input type="checkbox" formControlName="Other_document">
      <span class="slider round"></span>
    </label></div>

  </div>

  <div class="hook-name">
    <h2>Nom du hook</h2>
    <mat-form-field appearance="outline">
      <mat-label>Français FR</mat-label>
      <input matInput #namefr maxlength="50" formControlName="hook_name_fr">
      <mat-hint align="end">{{namefr.value.length}} / 50</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>English EN</mat-label>
      <input matInput #nameen maxlength="50" formControlName="hook_name_en">
      <mat-hint align="end">{{nameen.value.length}} / 50</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>English US</mat-label>
      <input matInput #nameus maxlength="50" formControlName="hook_name_us">
      <mat-hint align="end">{{nameus.value.length}} / 50</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Espagnol ES</mat-label>
      <input matInput #namees maxlength="50" formControlName="hook_name_es">
      <mat-hint align="end">{{namees.value.length}} / 50</mat-hint>
    </mat-form-field>
  </div>

  <div class="description-hook">
    <h2>Description du hook</h2>
    <mat-form-field appearance="outline">
      <mat-label>Français FR</mat-label>
      <textarea matInput #fr maxlength="255" formControlName="description_fr"></textarea>
      <mat-hint align="end">{{fr.value.length}} / 255</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>English EN</mat-label>
      <textarea matInput #en maxlength="255" formControlName="description_en"></textarea>
      <mat-hint align="end">{{en.value.length}} / 255</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>English US</mat-label>
      <textarea matInput #us maxlength="255" formControlName="description_us"></textarea>
      <mat-hint align="end">{{us.value.length}} / 255</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Espagnol ES</mat-label>
      <textarea matInput #es maxlength="255"formControlName="description_es"></textarea>
      <mat-hint align="end">{{es.value.length}} / 255</mat-hint>
    </mat-form-field>
  </div>

  <div class="event">
    <h2>Event</h2>

    <div class="modification"><p>Modification d'un champ</p>
    <label class="switch">
      <input type="checkbox" #myCheck (change)="toggleTextVisibility()">
      <span class="slider round"></span>
    </label>
    <p>Autre action</p></div>

    <h2 [ngStyle]="{'display': isTextVisible ? 'none' : 'block'}">Modification de champ</h2>
    <mat-form-field [ngStyle]="{'display': isTextVisible ? 'none' : 'block'}" appearance="outline">
      <mat-label>Nom du champ</mat-label>
      <input matInput placeholder="Ex. Champ perso 1" formControlName="nom_du_champ">
    </mat-form-field>

    <mat-form-field [ngStyle]="{'display': isTextVisible ? 'none' : 'block'}" appearance="outline">
      <mat-label>Position</mat-label>
      <input matInput placeholder="Ex. Invoice line" formControlName="position">
    </mat-form-field>

    <h2 [ngStyle]="{'display': isTextVisible ? 'block' : 'none'}">Autre action</h2>
    <mat-form-field id="text" [ngStyle]="{'display': isTextVisible ? 'block' : 'none'}" appearance="outline">
      <mat-label>Veuillez choisir une action</mat-label>
      <mat-select multiple formControlName="event">
        <mat-option *ngFor="let event of events" value="{{ event.name }}">{{ event.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <p [ngStyle]="{'display': isTextVisible ? 'block' : 'none'}">Si event a l'ouverture du document selectioné</p>
    <mat-form-field [ngStyle]="{'display': isTextVisible ? 'block' : 'none'}" appearance="outline">
      <mat-label>Phase</mat-label>
      <input matInput placeholder="Ex. Enregistrement" formControlName="opening_document_phase">
    </mat-form-field>
    <mat-form-field [ngStyle]="{'display': isTextVisible ? 'block' : 'none'}" appearance="outline">
      <mat-label>Étape</mat-label>
      <input matInput #eventStep maxlength="1" formControlName="opening_document_step">
      <mat-hint align="end">{{eventStep.value.length}} / 1</mat-hint>
    </mat-form-field>

  </div>

  <div class="processus">
    <h2>Processus du hook</h2>
    <mat-form-field appearance="outline">
      <mat-label>Cas fonctionnel</mat-label>
      <textarea matInput placeholder="Description du hook bien détaillé" #fonct maxlength="255" formControlName="cas_fonctionnel" class="cas-fonct"></textarea>
      <mat-hint align="end">{{fonct.value.length}} / 255</mat-hint>
    </mat-form-field>
  </div>

  <div class="processus1">
    <mat-form-field appearance="outline">
    <mat-label>Cas d'erreur</mat-label>
    <textarea matInput placeholder="Mettre un ou plusieurs exemple(s) potentiel d'erreur bien détaillé" #err maxlength="255" formControlName="cas_derreur" class="cas-err"></textarea>
    <mat-hint align="end">{{err.value.length}} / 255</mat-hint>
  </mat-form-field>
  </div>

  <div class="test">
    <h2>Cas de tests</h2>
    <p>Prise d'identité (selon les phases a tester)</p>
    <mat-form-field appearance="outline">
      <mat-label>Utilisateur</mat-label>
      <input matInput formControlName="user">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phase</mat-label>
      <input matInput placeholder="Ex. Enregistrement" formControlName="phase">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Étape</mat-label>
      <input matInput #etape maxlength="1" formControlName="etape">
      <mat-hint align="end">{{etape.value.length}} / 1</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Résultats attendus</mat-label>
      <textarea matInput placeholder="Décrire précisement le résultat attendu" #result maxlength="255" formControlName="resultats_attendus"></textarea>
      <mat-hint align="end">{{result.value.length}} / 255</mat-hint>
    </mat-form-field>

  </div>

  <div class="cas-particulier">
    <h2>Cas particulier (si il y en a)</h2>
    <label class="switch" id="caspart">
      <input type="checkbox" #check (change)="toggleCas()">
      <span class="slider round"></span>
    </label>

    <mat-form-field id="text3" [ngStyle]="{'display': isCas ? 'block' : 'none'}" appearance="outline">
      <mat-label>Cas particulier</mat-label>
      <textarea matInput placeholder="Décrir précisement le résultats attendus" formControlName="cas_particulier"></textarea>
    </mat-form-field>

  </div>

  <div class="savespec">
    <h2>Information a propos de la spec</h2>
    <mat-form-field appearance="outline">
      <mat-label>Client</mat-label>
      <input type="text"
             aria-label="Number"
             matInput
             [matAutocomplete]="auto"
             formControlName="client">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let client of clientData" value="{{ client.id_client }}">{{ client.name }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nom de la spec</mat-label>
      <input matInput #name maxlength="50" formControlName="nom_spec">
      <mat-hint align="end">{{name .value.length}} / 50</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>État de la spec</mat-label>
      <mat-select formControlName="etatSpec">
        <mat-option value="Complété">Complété</mat-option>
        <mat-option value="Brouillon">Brouillon</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div class="button">
    <button type="submit" class="save" (click)="save()" formmethod="post">Enregistrer la spécification</button>
    <button type="submit" class="preview">Prévisualiser la spécification</button>
  </div>

  <div class="button2">
    <button type="submit" class="generate" (click)="genSpec()">Générer la spécification</button>
  </div>

</form>
