<form class="hookform">

  <div class="document-type">
    <h2>Type(s) de document</h2>
    <div><p>Commande</p>
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label></div>

    <div><p>Demande d'achat</p>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label></div>

    <div><p>Facture d'achat</p>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label></div>

    <div><p>Avoir d'achat</p>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label></div>

    <div><p>Facture de vente</p>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label></div>

    <div><p>Avoir de vente</p>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label></div>

    <div><p>Facture sur commande</p>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
      </label></div>

    <div><p>Autre document</p>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label></div>

  </div>

  <div class="hook-name">
    <h2>Nom du hook</h2>
    <mat-form-field appearance="outline">
      <mat-label>Français FR</mat-label>
      <input matInput required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>English EN</mat-label>
      <input matInput required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>English US</mat-label>
      <input matInput required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Espagnol ES</mat-label>
      <input matInput required>
    </mat-form-field>
  </div>

  <div class="description-hook">
    <h2>Description du hook</h2>
    <mat-form-field appearance="outline">
      <mat-label>Français FR</mat-label>
      <textarea matInput required></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>English EN</mat-label>
      <textarea matInput required></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>English US</mat-label>
      <textarea matInput required></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Espagnol ES</mat-label>
      <textarea matInput required></textarea>
    </mat-form-field>
  </div>

  <div class="event">
    <h2>Event</h2>

    <div class="modification"><p>Modification d'un champ</p>
    <label class="switch">
      <input type="checkbox" #myCheck (change)="toggleTextVisibility()">
      <span class="slider round"></span>
    </label>
    <p>Autre action</p></div>

    <h2 [ngStyle]="{'display': isTextVisible ? 'none' : 'block'}">Modification de champ</h2>
    <mat-form-field [ngStyle]="{'display': isTextVisible ? 'none' : 'block'}" appearance="outline">
      <mat-label>Nom du champ</mat-label>
      <input matInput placeholder="Ex. Champ perso 1">
    </mat-form-field>

    <mat-form-field [ngStyle]="{'display': isTextVisible ? 'none' : 'block'}" appearance="outline">
      <mat-label>Position</mat-label>
      <input matInput placeholder="Ex. Invoice line">
    </mat-form-field>

    <h2 [ngStyle]="{'display': isTextVisible ? 'block' : 'none'}">Autre action</h2>
    <mat-form-field id="text" [ngStyle]="{'display': isTextVisible ? 'block' : 'none'}" appearance="outline">
      <mat-label>Veuillez choisir une action</mat-label>
      <mat-select multiple>
        <mat-option value="1">MODIFY_DATA_ITEM_VALUE</mat-option>
        <mat-option value="2">SEND_VALUE</mat-option>
        <mat-option value="3">OPEN_FORM_FRONT</mat-option>
        <mat-option value="4">OPEN_FORM_BACK</mat-option>
        <mat-option value="5">CLOSE_FORM_QUERY</mat-option>
        <mat-option value="6">TERMINATE_FORM_QUERY</mat-option>
        <mat-option value="7">ADD_ROW_QUERY</mat-option>
        <mat-option value="8">ADD_ROW</mat-option>
        <mat-option value="9">DELETE_ROW_QUERY</mat-option>
        <mat-option value="10">DELETE_ROW</mat-option>
        <mat-option value="11">GET_FOCUS_DATA_ITEM</mat-option>
        <mat-option value="12">LOSE_FOCUS_DATA_ITEM</mat-option>
        <mat-option value="13">FORM_TAB_CHANGED</mat-option>
        <mat-option value="14">ON_LOAD_FORM</mat-option>
        <mat-option value="15">CLOSE_FORM_BACK</mat-option>
        <mat-option value="16">END_FORM_BACK</mat-option>
        <mat-option value="17">BUTTON_TRIGGERING</mat-option>
        <mat-option value="18">PROPAGATE_CELL_VALUE_TO_FOLLOWING_ROWS</mat-option>
        <mat-option value="19">ON_BEFORE_PO_INVOICE_AUTO_MATCHING</mat-option>
        <mat-option value="20">ON_AFTER_PO_INVOICE_AUTO_MATCHING</mat-option>
        <mat-option value="21">ON_BEFORE_PO_INVOICE_MANUAL_MATCHING</mat-option>
        <mat-option value="22">ON_AFTER_PO_INVOICE_MANUAL_MATCHING</mat-option>
        <mat-option value="23">ON_OCR_RETURN_BEFORE_REGISTRATION_STEP</mat-option>
        <mat-option value="24">ON_FEEDBACK_RECEIVED</mat-option>
        <mat-option value="25">ON_BETWEEN_PR_VALIDATION_AND_ORDER_CREATION</mat-option>
        <mat-option value="26">ON_BEFORE_TRANSFER</mat-option>
        <mat-option value="27">ON_AFTER_TRANSFER</mat-option>
        <mat-option value="28">ON_BEFORE_REJECT</mat-option>
        <mat-option value="29">ON_AFTER_REJECT</mat-option>
        <mat-option value="30">ON_BLOCK</mat-option>
        <mat-option value="31">ON_BEFORE_WORKFLOW_RECIPIENTS_CHOICE</mat-option>
        <mat-option value="32">ON_AFTER_WORKFLOW_RECIPIENTS_CHOICE</mat-option>
        <mat-option value="33">ON_BEFORE_ORDER_RECEIVE</mat-option>
        <mat-option value="34">ON_AFTER_ORDER_RECEIVE</mat-option>
        <mat-option value="35">ON_ORDER_SENT</mat-option>
        <mat-option value="36">ON_BATCH_PROCESSING_COMPLETE_DOCUMENTS</mat-option>
        <mat-option value="37">ON_FEEDBACK_EXECUTED_BEFORE_ACTION</mat-option>
        <mat-option value="38">ON_PAYMENT_FEEDBACK_EXECUTED</mat-option>
        <mat-option value="39">ON_BEFORE_BLOCK</mat-option>
        <mat-option value="40">ON_AFTER_BLOCK</mat-option>
        <mat-option value="41">ON_ORDER_CREATED</mat-option>
        <mat-option value="42">ON_DOCUMENT_READY</mat-option>
        <mat-option value="43">ON_FEEDBACK_EXECUTED_AFTER_DOCUMENT_SAVED</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div class="processus">
    <h2>Processus du hook</h2>
    <mat-form-field appearance="outline">
      <mat-label>Cas fonctionnel</mat-label>
      <textarea matInput placeholder="Description du hook bien détaillé" required></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Cas d'erreur</mat-label>
      <textarea matInput placeholder="Mettre un ou plusieurs exemple(s) potentiel d'erreur bien détaillé" required></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Résultats attendus</mat-label>
      <textarea matInput placeholder="Décrire précisement le résultat attendu" required></textarea>
    </mat-form-field>
  </div>

  <div class="test">
    <h2>Cas de tests</h2>
    <p>Prise d'identité (selon les phases a tester)</p>
    <mat-form-field appearance="outline">
      <mat-label>Utilisateur</mat-label>
      <input matInput required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phase</mat-label>
      <input matInput placeholder="Ex. Enregistrement" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Étape</mat-label>
      <input matInput #etape maxlength="1" required>
      <mat-hint align="end">{{etape.value.length}} / 1</mat-hint>
    </mat-form-field>

  </div>

  <div class="cas-particulier">
    <h2>Cas particulier (si il y en a)</h2>
    <label class="switch" id="caspart">
      <input type="checkbox" #check (change)="toggleCas()">
      <span class="slider round"></span>
    </label>

    <mat-form-field id="text3" [ngStyle]="{'display': isCas ? 'block' : 'none'}" appearance="outline">
      <mat-label>Cas particulier</mat-label>
      <textarea matInput placeholder="Décrir précisement le résultats attendus"></textarea>
    </mat-form-field>

  </div>

  <div class="savespec">
    <h2>Information a propos de la spec</h2>
    <mat-form-field appearance="outline">
      <mat-label>Client</mat-label>
      <input type="text"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option">{{option}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nom de la spec</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>ERP</mat-label>
      <input type="text"
             aria-label="Number"
             matInput
             [formControl]="myControl1"
             [matAutocomplete]="auto1">
      <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
        @for (erpl of filteredOptions1 | async; track erpl) {
          <mat-option [value]="erpl">{{erpl}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

  </div>

  <div class="button">
    <button type="submit" class="save">Enregistrer la spécification</button>
    <button type="submit" class="preview">Prévisualiser la spécification</button>
  </div>

  <div class="button2">
    <button type="submit" class="generate">Générer la spécification</button>
  </div>

</form>
