
<div class="closebtn">
  <a class="closesvg" mat-dialog-close>
    <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" fill="#9fadbc">
      <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
    </svg>
  </a>
</div>

<div class="popupcard">


  <a class="card1">

    <img class="popupimg" src="hookspec.png" alt="new spec">
    <p class="specp">Créer une spécification</p>

  </a>

  <a class="card2">

    <img class="popupimg" src="newspec.png" alt="new spec">
    <p class="specp">Consutlez vos spécifications</p>

  </a>

  <a class="space">
    <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" fill="rgb(0, 0, 0, 0.0)">
      <path d=""/>
    </svg>
  </a>

</div>
