<div class="connexion-form">

  <img class="connexion-image" src="connexion.png" alt="background image">

  <form class="search-form" [formGroup]="loginForm">
    <img class="logo-form" src="logo.png" alt="application logo">
    <h3>Veuillez vous connectez avec votre compte Yooz</h3>
    <mat-form-field appearance="outline">
      <mat-label>Entrez votre email</mat-label>
      <input matInput
             placeholder="nom.utilisateur@getyooz.com"
             formControlName="email"
             (blur)="updateErrorMessage()"
             required>
      @if (email.invalid) {
        <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">Veuillez entrer un email valide</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="toto">
      <mat-label>Saisissez votre mot de passe</mat-label>
      <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" required/>
    </mat-form-field>

    <button type="submit" class="submit-connexion" (click)="login()" formmethod="post">Se connecter</button>
    <br>
    <button type="submit" class="submit-connexion" (click)="logout()" formmethod="post">supp le cookie</button>

    <br><p>Ou</p>

    <p>( mettre la connexion microsoft )</p>
    <button onclick="location.reload(true)">
      Reload Page
    </button>
  </form>


</div>
