* {
  box-sizing: border-box;
}

.specp {
  display: flex;
  justify-content: center;
  color: #9FADBC;
}

.hookspecimg {
  width: 300px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.specp, .hookspecimg {

}

.speccard > a {
  border-radius: 5px;
  background-color: #333c43;
  color: #333c43;
}

.speccard {
  max-width: 440px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 6fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(25px, auto);
}

.cardone {
  grid-column: 2;
  grid-row: 3;
}

@media (min-width: 440px) {
  .speccard {
    max-width: 1920px;
    grid-template-columns: repeat(12, 6fr);
    margin: 0;
    grid-auto-rows: minmax(100px, auto);
  }
  .cardone {
    grid-column: 6;
    grid-row: 3;
  }

}
